$colour-primary: #ef4560;
$colour-success: #8fb98b;
$colour-info:    #64b6b1;
$colour-warning: #efab00;
$colour-ink:     #4a473e;
$colour-danger:  #de564b;

$colour-paper:   #f5eedb;
$floral-white:   #fffaf0;
