::selection {
  background: $brand-primary;
  color: $floral-white;
}

.body-customer {
  background: $floral-white url('/img/logo-bg.svg') no-repeat;
  background-size: cover;
}

.page {
  padding: 1em 0;
}
