html,
body {
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

::selection {
  background: $brand-primary;
  color: $floral-white;
}

.body-customer {
  background: $floral-white url('/img/logo-bg.svg') no-repeat;
  background-size: cover;
}

.page {
  margin: auto;
  max-width: 78em;
  padding: 0 0 1em;
}

p {
  font-size: 1.3em;
}
