/vendor
/node_modules
Homestead.yaml
Homestead.json
resources/build/
resources/assets/js/
typings/
public/build/
public/css/
public/js/
public/img/
public/filesystem/
storage/
.env
_ide_helper*
.vagrant/
composer.phar
build/
keys.*
*.sqlite-journal
test_db.sqlite
