/vendor
/node_modules
Homestead.yaml
Homestead.json
.idea/
bower_components/
resources/build/
public/build/
public/css/
public/js/
public/img/
public/filesystem/
storage/
.env
_ide_helper*
.vagrant/
phpunit
composer.phar
