.basket-title {
  font-size: 2em;
  margin: 1em 0;

  @include breakpoint(sm-up) {
    font-size-adjust: 1;
  }
}

.basket-product-image {
  height: auto;
  max-width: 4em;

  @include breakpoint(sm-up) {
    max-width: 8em;
  }
}

.basket-total {
  font-size: larger;
}

.price {
  font-family: monospace;
}

.price-display {
  color: $brand-success;
  font-weight: bold;
}

.continue {
  text-align: center;

  @include breakpoint(sm-up) {
    padding: 1em;
    text-align: right;
  }
}

.continue-button {
  margin: auto;
}
