.home-title {
  font-size: 1.7em;
  margin: 5% auto;
  text-align: center;

  @include breakpoint(sm-up) {
    font-size: 4.8vw;
  }
}

.front-product-row {
  margin-bottom: 1.8em;
}

.front-product-name {
  font-size: 1.3em;
  min-height: 2.6em;
}

.landing-title {
  font-family: $font-brand;
  font-size: 1.7em;
  text-align: center;

  @include breakpoint(sm-up) {
    font-size: 5.5vw;
  }
}

.landing-title-note {
  font-family: $font-family-sans-serif;
}
