.offer-name {
  border: .23em solid $floral-white;
  color: $floral-white;
  display: table-cell;
  font-size: 90%;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  vertical-align: middle;

  @include breakpoint(sm-up) {
    font-size: 117%;
  }
}

.offer-name-short {
  border-radius: 50%;
  height: 5em;
  width: 5em;
}

.offer-name-long {
  border-radius: $border-radius-large;
}

.colour-suggestion {
  color: $floral-white;
  font-family: monospace;
}

.offer-overlay {
  left: 0;
  position: absolute;
  top: -1em;
}
