.product-title {
  font-size: 8vw;
  margin: .7em 0;

  @include breakpoint(sm-up) {
    font-size: 5vw;
  }

  @include breakpoint(md-up) {
    font-size: 3.6vw;
  }
}

.product-thumbnail {
  cursor: pointer;
  display: inline-block;
  margin: $gutter;
  text-align: center;

  @include breakpoint(xs) {
    margin: $gutter ($gutter / 3) 0 0;
    width: 29%;
  }

  @include breakpoint(sm-up) {
    display: block;
    margin: $gutter auto;

    &:first-child {
      margin-left: auto;
      margin-top: 0;
    }
  }

  &[data-selected] {
    > .img-thumbnail {
      background-color: $colour-primary;
    }
  }

  > .img-thumbnail {
    margin: auto;
    max-height: 128px;
    max-width: 128px;
    width: 100%;
  }

  &:first-child {
    margin-left: 0;
  }
}

.photo {
  box-shadow: .1em .1em .1em transparentize($text-color, .2);
  width: 100%;
}

.buy-button {
  margin: $gutter auto;

  @include breakpoint(md-up) {
    .product-option-only + & {
      margin-top: 0;
    }
  }
}

.product-details {
  font-size: larger;
}

.product-price {
  font-size: 1.7em;
}

.product-section {
  margin: 1.7em auto;
}

.add-to-basket-form {
  margin: 1em auto 0;
  max-width: 25em;
  text-align: center;

  @include breakpoint(sm-up) {
    margin: auto;
  }
}

.product-tag {
  margin: 0 .5em .5em 0;
}
