.top-band {
  @extend %brand-band;

  min-height: 2em;
  overflow: auto;
  position: relative;

  @include breakpoint(sm-up) {
    padding: 0;
  }
}

.top-center {
  clear: both;
  margin: .3em auto 1.1em;
  padding: 0 $gutter;
  text-align: center;
  vertical-align: middle;

  @include breakpoint(sm-up) {
    clear: none;
    float: left;
    margin: 1.1em auto;
    padding: 0;
    width: percentage(1 / 3);
  }
}

.top-links {
  @extend %inline-list;
}

.top-text {
  font-family: $font-brand;
  font-size: 1.7em;
  padding: .6em 1em;
}

.top-link {
  @extend %brand-band-link;
}

.top-logo-link {
  color: invert($text-color);
  display: inline-block;
  font-family: $font-brand;
  font-size: 1.5em;
  font-weight: bolder;
  margin: auto;
  padding: .2em .3em;
  text-align: left;

  @include breakpoint(sm-up) {
    float: left;
    font-size: 1.7em;
    padding: 0;
    width: percentage(1 / 3);
  }

  &:hover {
    color: lighten(invert($text-color), 25%);
    text-decoration: none;
  }
}

.top-logo {
  display: inline;
  height: 1.8em;
  margin: .3em;
  width: auto;

  @include breakpoint(sm-up) {
    height: 2em;
  }
}

.mini-basket {
  @include breakpoint(xs) {
    font-size: 1.7em;
    position: absolute;
    right: 0;
    top: 0;
  }

  @include breakpoint(sm-up) {
    display: inline-block;
    text-align: right;
    width: percentage(1 / 3);
  }

  &:hover {
    text-decoration: none;
  }
}

.top-points {
  background: lighten(invert($text-color), 10%);
  color: $text-color;
}

.top-points-item {
  display: none;
  font-family: $font-family-sans-serif;
  font-size: .9em;
  padding: .3em;
  text-align: center;

  @include breakpoint(sm-up) {
    &:nth-of-type(2) {
      display: block;
    }
  }

  @include breakpoint(md-up) {
    display: block;
    font-size: 1em;
  }

  &:first-of-type {
    display: block;
  }
}

.top-cats-link {
  display: block;
  font-size: 1.1em;
  padding: .5em;
  text-align: center;

  @include breakpoint(sm-up) {
    font-size: 1.3em;
    white-space: nowrap;
  }

  @include breakpoint(md-up) {
    font-size: 1.5em;
  }

  @include breakpoint(lg) {
    font-size: 1.7em;
  }

  &:hover {
    text-decoration: none;
  }
}
